@page
@using SecretSanta.EntityModels
@using SecretSanta.Web.Pages
@model SecretSanta.Web.Pages.ParticipantDetailModel

<div class="row">
    <h1 class="display-2">@ViewData["Title"]</h1>
    <div>
        @if (Model.Participant is not null)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>

                </thead>
                <tbody>
                    <tr>
                        <td>@Model.Participant.ParticipantName</td>
                        <td><a class="btn btn-primary">Edit</a></td>
                        <td><a class="btn btn-primary">Delete</a></td>
                    </tr>
                </tbody>
            </table>
        }
    </div>
</div>
<p>
    <a class="btn btn-primary"
       href="/Participants">Manage Participants</a>
</p>
