@page
@using SecretSanta.EntityModels
@model SecretSanta.Web.Pages.ParticipantsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="row">
    <h1 class="display-2">Secret Santa Participants</h1>
    <table class="table table-striped">
        <thead class="thead-inverse">
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Participants is not null)
            {
                @foreach (Participant p in Model.Participants)
                {
                    <tr>
                        <td><a href="ParticipantDetail?id=@p.ParticipantId">@p.ParticipantName</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<div class="row">
    <p>Enter details for a new participant:</p>
    <form method="post">
        <div><input asp-for="Participant!.ParticipantName" placeholder="Participant Name" /></div>
        <input type="submit" />
    </form>
</div>

